.hero{
    min-height:90vh;
    background:#0f172a;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:60px;
}

.hero-content{
    width:55%;
}

.hero-content h3{
    font-size:34px;
    margin-bottom:10px;
}

.hero-content h1{
    font-size:70px;
    margin-bottom:15px;
}



.hero-content h2{
    font-size:50px;
    color:#38bdf8;
    margin-bottom:20px;
}

.hero-content p{
    font-size:38px;
    line-height:1.7;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.hero-buttons button{
    padding:14px 28px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.hero-image{
    width:350px;
    height:350px;
    border-radius:50%;
    background:#334155;
    margin-right:190px;
    
}
.hero-content,
.hero-image {
    transform: translateY(-100px);
}